.service {
    /* border: 1px solid khaki; */
    border-radius: 7px;
    /* padding-bottom: 10px; */
    display: grid;
    justify-content: center;
    box-shadow: 3px 3px 4px 3px rgba(97, 97, 96, 0.2);
    height: 600px;
    /* margin-bottom: 10px; */
    /* align-items: center; */
}

.service img {
    border-radius: 7px;
    /* margin-bottom: 10px; */
    /* height: 200px; */
    /* width: 400px; */
    height: 350px;
}

.service-info {
    padding-left: 20px;
}

.service button {
    border: none;
    background-color: rgb(222, 70, 156);
    border-radius: 5px;
    margin: 10px;
    /* padding: 8px; */
}