.services-title {
    text-align: center;
    color: rgb(184, 54, 173);
    margin: 40px;
}

.services-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    margin-left: 40px;
    margin-right: 40px;
}

@media only screen and (max-width:576px) {
    .services-container {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media only screen and (min-width: 577px) and (max-width: 990px) {
    .services-container {
        grid-template-columns: repeat(2, 2fr);
    }
}