.about-me h1 {
    text-align: center;
    margin-top: 50px;
    color: rgb(229, 24, 130);
}

.about-me {
    margin-bottom: 150px;
}

.about-me-info {
    width: 50%;
    margin: 0 auto;
    margin-top: 100px;

}

.orange {
    color: rgb(229, 24, 130);
}